!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    =stylesheet_link_tag :email
  %body
    .inner-box
      %h1.email-header-text
        This Is A Title
      %h2.email-subheading-text
        Subheading Goes Here
      %hr
      %h2
        Content Here
      %hr
      %h2
        Actions Here
