- content_for :title, "Accepted Bookings"

%br/
.container.is-fluid
  = render :partial => 'layouts/flash'

  = render "tabs"

  %p.title.has-text-centered Accepted Bookings
  -# %table#bookings_other.table.is-striped.is-bordered{:cellspacing => "0", :width => "100%", :role => 'datatable'}
  = content_tag :table, :id => "example", role: :datatable, data: {url: accepted_bookings_path(format: :json)} do
    %thead
      %tr
        %th
        %th id
        %th Start Date
        %th Start Time
        %th End Date
        %th End Time
        %th Reason
        %th Location
        %th Status
        %th Booked By
    %tbody


%div#debugoutput
