- content_for :title, "Completed Bookings"

%br/
.container.is-fluid
  = render :partial => 'layouts/flash'

  = render "tabs"

  %p.title.has-text-centered Completed Bookings
  = content_tag :table, :id => "example", role: :datatable, data: {url: completed_bookings_path(format: :json)} do
    %thead
      %tr
        %th
        %th id
        %th Start Date
        %th Start Time
        %th End Date
        %th End Time
        %th Reason
        %th Location
        %th Status
        %th Booked By
    %tbody
