%section.hero.is-fullheight
  .hero-body
    .container.has-text-centered
      .column.is-10.is-offset-1
        %h3.title Edit My Details
        .box
          = render 'form'

= link_to 'Show', @user
\|
= link_to 'Back', users_path
