- content_for :title, "User details"

%br/
.container.is-desktop
  - if not notice.nil?
    .columns
      .column.is-4.is-offset-4
        .notification.is-success.has-text-centered
          %button.delete
          = notice

  %p.title bookins

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
