- content_for :title, "My Favourites"

%br/
.container.is-fluid
  - if not notice.nil?
    .columns
      .column.is-4.is-offset-4
        .notification.is-success.has-text-centered
          %button.delete
          = notice

%p.title.has-text-centered My Favourites
%p.title.has-text-centered
  = link_to 'Create new', new_user_home_category_path, class: 'button is-success'

%table#categories.table.is-striped.is-bordered{:cellspacing => "0", :width => "100%"}
  %thead
    %tr
      %th Category
      %th
  %tbody
    - @user_home_categories.each do |user_home_category|
      %tr
        %td.has-text-centered
          = user_home_category.category.name
        %td
          .field.is-grouped.is-grouped-centered
            %p.control
              = link_to 'Remove', user_home_category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' 
