- content_for :title, "Change Rejected"


%section.hero.is-large
  .hero-body
    .container
      .columns
        .column.is-3.is-offset-2
          %h1.title{:style => "font-size: 70px;color:#ff470f"} 422
          %h2.subtitle.is-3 Change Rejected
        .column.is-5
          %p
            Maybe you tried to change something you didn't have access to.
          %br
          %p
            If you continue to see this message please send a description of the problem to:
            = mail_to "support@epigenesys.org.uk"
