- content_for :title, "Assets"

%br/
.container.is-fullhd
  %table#myTable.table.is-striped.is-bordered.is-hoverable.is-fullwidth{:cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Name
        %th Image
        %th Type
        %th Owner
        %th Contact
        %th Normal
        %th Location
        %th Condition
        %th Peripheral
